@page "/"
@rendermode InteractiveAuto
<h1>Cue Companion</h1>
<h3>You are: @AuthService.ClientType.ToString()</h3>

@if (AuthService.ClientType == ClientType.Master)
{
    <div class="config">
        <h2>Configuration Panel</h2>
        <p>This section is only visible to Master users.</p>
        <div class="config-connections">
            <h3>Connections</h3>
            @{
                foreach (Connection conn in cons)
                {
                    <div class="connection-item">
                        <strong>@conn.ConnectionName</strong>
                        <p>Pass: @conn.ConnectionPasskey</p>
                    </div>
                }
            }
        </div>
    </div>
}

<h3>Connect:</h3>
<Login OnSubmit="OnSubmit"/>
<ConnectionStatus/>
@code
{
    private Connection[] cons = [];

    protected override async Task OnInitializedAsync()
    {
        AuthService.OnChange += () => InvokeAsync(StateHasChanged);

        await AuthService.StartAsync(Navigation.BaseUri);
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnSubmit(string name, string passkey)
    {
        AuthService.Connection = await AuthService.Connect(name, passkey);
        if (AuthService.Connection != null)
        {
            await LocalStorage.SetItemAsync("connectionName", AuthService.Connection.ConnectionName);
            await LocalStorage.SetItemAsync("connectionPasskey", AuthService.Connection.ConnectionPasskey);
        }
    }
}
