@page "/"
@using CueCompanion.Client.Components
@rendermode InteractiveAuto
<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h1">Dashboard</MudText>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <Login></Login>
    </div>
</MudContainer>
@code
{
    protected override async Task OnInitializedAsync()
    {
        Task.Run(async () => { await Auth.StartAsync(Navigation.BaseUri); });
    }
}
