<div class="mud-paper cue-box color-@CueColorClass mb-4" @onclick="HandleClick">
    <span class="cue-name">@Name</span>
    <span class="cue-number">@Number</span>
</div>

@code {
    [Parameter] public required string Name { get; set; }
    [Parameter] public CueColor Color { get; set; } = CueColor.Gray;
    [Parameter] public required int Number { get; set; }
    [Parameter] public Action? OnClick { get; set; }

    protected string CueColorClass => CueColorExtensions.ToString(Color);

    private async Task HandleClick()
    {
        OnClick?.Invoke();
    }
}