::deep .compact-nav {
    flex-direction: column;
    justify-content: space-around;
}

::deep .mud-nav-link {
    flex-direction: column;
    align-items: center !important;
    border-radius: 8px;
    margin: 0.5rem;
    height: 4rem;
    padding: 0.5rem;
}

::deep .mud-nav-link-text {
    text-align: center !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
}

::deep .nav-label {
    font-size: 0.8rem;
}

::deep .mud-nav-link.active > svg {
    color: var(--mud-palette-primary) !important;
}
