.cue-box
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: large;
    text-align: center;
    
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.cue-box.color-yellow
{
    background-color: #5C6C32;
    color: #ece529;
}

.cue-box.color-green
{
    background-color: #2E4831;
    border: 4px solid #15FF00;
    color: #15FF00;
    font-weight: bold;
}

.cue-box.color-blue
{
    background-color: #517E83;
    color: #53FFD7;
}

.cue-name
{
    flex-grow: 1;
    text-align: left;
}
.cue-number
{
}