@page "/about"
@using System.Reflection

<PageTitle>About - Cue Companion</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h1" GutterBottom="true">About Cue Companion</MudText>
    <MudText Typo="Typo.body2">Version: @Version</MudText>
    <MudText Typo="Typo.body1" GutterBottom="true">
        Cue Companion is essentially a live, digital run sheet. It is designed to help production teams manage and
        organize cues for live events, theater productions, concerts, and other performances.
    </MudText>
    <br/>
    <MudPaper>
        <MudText Typo="Typo.body1" GutterBottom="true">
            <strong>Software used:</strong>
            <ul>
                <li>
                    <MudLink href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank">ASP.NET</MudLink>
                    - The
                    networking and server framework.
                </li>
                <li>
                    <MudLink href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor
                        WebAssembly
                    </MudLink>
                    - The UI framework.
                </li>
                <li>
                    <MudLink href="https://dotnet.microsoft.com/en-us/apps/aspnet/signalr" target="_blank">SignalR
                    </MudLink>
                    - The
                    real-time interactivity framework.
                </li>
                <li>
                    <MudLink href="https://mudblazor.com/" target="_blank">MudBlazor</MudLink>
                    - A Material Design component library
                    for Blazor.
                </li>
                <li>
                    <MudLink href="https://www.jetbrains.com/rider/" target="_blank">Jetbrains Rider</MudLink>
                    - IDE
                </li>
                <li>
                    <MudLink href="https://github.com" target="_blank">GitHub</MudLink>
                    - For hosting the
                    <MudLink href="https://github.com/Rocky-Studios/CueCompanion" target="_blank">code</MudLink>
                    and automating builds
                </li>
            </ul>
        </MudText>
    </MudPaper>
    <br/>
    <MudPaper>
        <MudText Typo="Typo.body1" GutterBottom="true">
            <strong>License:</strong>
            <br/>
            Copyright 2025-2026 Gergo Kaszas
            <br/><br/>
            Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
            documentation files (the “Software”), to use the Software without restriction.
            <br/><br/>
            The developer and license holder may be contacted at gergo.kaszas@rockystudios.net.
            <br/><br/>
            The following rights are granted: the rights to use, copy, modify, merge, publish, distribute, sublicense,
            and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject
            to the conditions below.
            <br/><br/>
            The Software, including a build or the source, must not be sold to any person or entity for any amount of
            money, without express written permission from the developer.
            <br/><br/>
            The Software must not be redistributed under another name, brand, and/or in any way that discredits the developer,
            without express written permission from the developer.
            <br/><br/>
            The source code of the software, in partial or in full, may be used in any other software, provided the developer is
            acknowledged as the original author and the original repository is linked.
            <br/><br/>
            Another license may be included, but for reference, this license must be included in its entirety and unmodified
            in all copies of the software, and be easily accessible.
            <br/><br/>
            THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
            LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
            EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
            AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
            OR OTHER DEALINGS IN THE SOFTWARE.
            <br/>
        </MudText>
    </MudPaper>
    <br/>
    <MudPaper>
        <strong>License for the Inter font:</strong>
        <MudButton OnClick="@OnExpandCollapseClick">@(_expanded ? "Collapse" : "Expand")</MudButton>
        <br/>
        @if (!_expanded)
        {
            <p>Copyright 2020 The Inter Project Authors (https://github.com/rsms/inter)...</p>
        }
        <MudCollapse Expanded="@_expanded">
            Copyright 2020 The Inter Project Authors (https://github.com/rsms/inter)
            <br/><br/>
            This Font Software is licensed under the SIL Open Font License, Version 1.1 . This license is copied below,
            and is also available with a FAQ at: https://openfontlicense.org
            <br/><br/>
            SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
            <br/><br/>
            <strong>PREAMBLE</strong>
            <br/><br/>
            The goals of the Open Font License (OFL) are to stimulate worldwide development of collaborative font
            projects, to support the font creation efforts of academic and linguistic communities, and to provide a free
            and open framework in which fonts may be shared and improved in partnership with others.
            <br/><br/>
            The OFL allows the licensed fonts to be used, studied, modified and redistributed freely as long as they are
            not sold by themselves. The fonts, including any derivative works, can be bundled, embedded, redistributed
            and/or sold with any software provided that any reserved names are not used by derivative works. The fonts
            and derivatives, however, cannot be released under any other type of license. The requirement for fonts to
            remain under this license does not apply to any document created using the fonts or their derivatives.
            <strong>DEFINITIONS</strong>
            <br/><br/>
            "Font Software" refers to the set of files released by the Copyright Holder(s) under this license and
            clearly marked as such. This may include source files, build scripts and documentation.
            <br/><br/>
            "Reserved Font Name" refers to any names specified as such after the copyright statement(s).
            "Original Version" refers to the collection of Font Software components as distributed by the Copyright
            Holder(s).
            <br/><br/>
            "Modified Version" refers to any derivative made by adding to, deleting, or substituting -- in part or in
            whole -- any of the components of the Original Version, by changing formats or by porting the Font Software
            to a new environment.
            <br/><br/>
            "Author" refers to any designer, engineer, programmer, technical writer or other person who contributed to
            the Font Software.<br/><br/>
            <strong>PERMISSION & CONDITIONS</strong>
            <br/><br/>
            Permission is hereby granted, free of charge, to any person obtaining a copy of the Font Software, to use,
            study, copy, merge, embed, modify, redistribute, and sell modified and unmodified copies of the Font
            Software, subject to the following conditions:
            <ul>
                <li>
                    Neither the Font Software nor any of its individual components, in Original or Modified Versions,
                    may be
                    sold by itself.
                </li>
                <li>Original or Modified Versions of the Font Software may be bundled, redistributed and/or sold with
                    any
                    software, provided that each copy contains the above copyright notice and this license. These can be
                    included either as stand-alone text files, human-readable headers or in the appropriate
                    machine-readable
                    metadata fields within text or binary files as long as those fields can be easily viewed by the
                    user.
                </li>
                <li>No Modified Version of the Font Software may use the Reserved Font Name(s) unless explicit written
                    permission is granted by the corresponding Copyright Holder. This restriction only applies to the
                    primary
                    font name as presented to the users.
                </li>
                <li>The name(s) of the Copyright Holder(s) or the Author(s) of the Font Software shall not be used to
                    promote, endorse or advertise any Modified Version, except to acknowledge the contribution(s) of the
                    Copyright Holder(s) and the Author(s) or with their explicit written permission.
                </li>
                <li>The Font Software, modified or unmodified, in part or in whole, must be distributed entirely under
                    this
                    license, and must not be distributed under any other license. The requirement for fonts to remain
                    under this
                    license does not apply to any document created using the Font Software.
                </li>
            </ul>
            <strong>TERMINATION</strong>
            <br/><br/>
            This license becomes null and void if any of the above conditions are not met.
            <br/><br/>
            <strong>DISCLAIMER</strong>
            <br/><br/>
            THE FONT SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
            LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF
            COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL THE COPYRIGHT HOLDER BE LIABLE FOR ANY
            CLAIM, DAMAGES OR OTHER LIABILITY, INCLUDING ANY GENERAL, SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL
            DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF THE USE OR INABILITY TO
            USE THE FONT SOFTWARE OR FROM OTHER DEALINGS IN THE FONT SOFTWARE.
        </MudCollapse>
    </MudPaper>
    <br/>
    <MudPaper>
        <MudText Typo="Typo.body1" GutterBottom="true">
            <strong>AI-Generated content disclosure</strong>
            <br/>
            Generative AI has been used to write some of the content and code on this website. While efforts have been
            made to ensure the accuracy and quality of the AI-generated content, it may contain errors or inaccuracies.
            Users are encouraged to verify any information obtained from this website and use their discretion when
            relying on AI-generated content.
        </MudText>
    </MudPaper>
</MudContainer>

@code {

    private string Version { get; set; } = "Unknown";

    protected override void OnInitialized()
    {
        try
        {
            // Get the assembly of the current application
            Assembly assembly = Assembly.GetExecutingAssembly();

            // Try to read version from assembly metadata
            Version = assembly.GetName().Version?.ToString() ?? "Unknown";

            // Alternative method: Read directly from project file if needed
            // This requires additional setup and may not work in all scenarios
        }
        catch
        {
            Version = "Unknown";
        }
    }

    bool _expanded;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }

}