@page "/chat"
@inject AuthService         AuthService
@inject ChatService         ChatService
@inject SimpleDialogService Dialogs
@inject IJSRuntime          JS
@implements IAsyncDisposable

<PageTitle>Chat - Cue Companion</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h1">Chat</MudText>
    @if (AuthService.User == null)
    {
        <MudText>You must be logged in to view the chat.</MudText>
    }
    else
    {
        @if (!_hasViewPermission)
        {
            <MudAlert Severity="Severity.Error">Access denied.</MudAlert>
        }
        else
        {
            <div @ref="messagesContainer" style="max-height: 60vh; overflow-y: auto;">
                <MudPaper Class="p-4">
                    @foreach (Message message in ChatService.Messages)
                    {
                        ChatService.UserIdToNameCache.TryGetValue(message.Sender, out string? sender);
                        <MudText>
                            <b>@sender:</b> @message.Content
                        </MudText>
                    }
                </MudPaper>
            </div>
            @if (_hasTypePermission)
            {
                <MudTextField @bind-Value="@messageContent"></MudTextField>
                <MudButton EndIcon="@Icons.Material.Filled.Send" OnClick="@OnSendButtonClicked">Send</MudButton>
            }
        }

    }
</MudContainer>

@code
{
    private string? messageContent;
    private ElementReference messagesContainer;
    private bool             shouldScrollToBottom;
    private Action?          authStateChangedHandler;
    private Action?          chatStateChangedHandler;


    private bool _hasViewPermission, _hasTypePermission;


    protected override async Task OnInitializedAsync()
    {
        authStateChangedHandler = AuthServiceOnOnStateChanged();
        chatStateChangedHandler = ChatServiceOnOnStateChanged();

        if (AuthService != null) AuthService.OnStateChanged += authStateChangedHandler;
        if (ChatService != null) ChatService.OnStateChanged += chatStateChangedHandler;

        if (ChatService != null) await ChatService.StartAsync(Navigation.BaseUri);
        shouldScrollToBottom = true;


        AuthService!.OnStateChanged += () =>
                                      {
                                          if (AuthService.User != null)
                                          {
                                              _hasViewPermission = AuthService.HasPermission("ViewChat");
                                              _hasTypePermission = AuthService.HasPermission("TypeChat");
                                          }
                                          else
                                          {
                                              _hasViewPermission = false;
                                              _hasTypePermission = false;
                                          }

                                          InvokeAsync(StateHasChanged);
                                      };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!shouldScrollToBottom) return;

        shouldScrollToBottom = false;
        await JS.InvokeVoidAsync("cueCompanionChat.scrollToBottom", messagesContainer);
    }

    private Action AuthServiceOnOnStateChanged()
    {
        return () =>
               {
                   InvokeAsync(StateHasChanged);
                   if (AuthService.SessionKey is { } key) ChatService?.GetAllMessages(key);
                   shouldScrollToBottom = true;
               };
    }

    private Action ChatServiceOnOnStateChanged()
    {
        return () => _ = HandleChatStateChangedAsync();
    }

    private async Task HandleChatStateChangedAsync()
    {
        Message[] messages = ChatService.Messages.ToArray();
        foreach (Message message in messages)
        {
            if (!ChatService.UserIdToNameCache.ContainsKey(message.Sender))
            {
                User? user = (await AuthService?.GetUserAsync(message.Sender)!).Value;
                if (user != null)
                {
                    ChatService.UserIdToNameCache[message.Sender] = user.UserName;
                }
            }
        }

        shouldScrollToBottom = true;
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnSendButtonClicked()
    {
        if (!_hasTypePermission)
        {
            _ = Dialogs.ShowError("Permission denied", "You do not have permission to send messages in the chat.");
            return;
        }

        if (!string.IsNullOrEmpty(messageContent) && AuthService.SessionKey is { } key)
        {
            if (ChatService != null) await ChatService.SendMessage(key, messageContent);
            messageContent = string.Empty;
            shouldScrollToBottom = true;
        }
    }


    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (AuthService != null && authStateChangedHandler != null) AuthService.OnStateChanged -= authStateChangedHandler;
        if (ChatService != null && chatStateChangedHandler != null) ChatService.OnStateChanged -= chatStateChangedHandler;
        if (ChatService != null) await ChatService.DisposeAsync();
    }
}
