@page "/show"
<PageTitle>Show - Cue Companion</PageTitle>

@inject ShowService         ShowService
@inject AuthService         Auth
@inject SimpleDialogService Dialogs
@using CueCompanion.Components.Show
@implements IAsyncDisposable

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    @if (Auth.User == null)
    {
        <MudAlert Severity="Severity.Error">You must be logged in to access the show page.</MudAlert>
    }
    else
    {
        @if (!HasViewPermissions)
        {
            <MudAlert Severity="Severity.Error">Access denied.</MudAlert>
        }

        @if (HasViewPermissions)
        {
            <CascadingValue Value="ShowService">
                <CascadingValue Name="IsEditMode" Value="_isEditMode">
                    <MudOverlay @bind-Visible="_isEditMode" AutoClose="false"
                                Style="z-index: 2000 !important; pointer-events: none;">
                        <div class="edit-mode-overlay">
                            <div class="edit-mode-label">
                                EDIT MODE ACTIVE
                            </div>
                        </div>
                    </MudOverlay>
                    <div class="show-columns">
                        <div class="show-column">
                            <CueExplorer/>
                        </div>
                        <div class="show-column">
                            <CurrentCue/>
                        </div>
                        <div class="show-column">
                            <ShowInfo/>
                        </div>
                    </div>
                </CascadingValue>
            </CascadingValue>
        }
    }
</MudContainer>
@if (HasEditPermissions)
{
    <div class="edit-mode-button-container">
        <MudButton OnClick="@ToggleEditMode"
                   Class="edit-mode-button"
                   Variant="Variant.Filled"
                   Color="@EditButtonColor"
                   StartIcon="@Icons.Material.Filled.Edit"
                   Size="Size.Small"
                   Style="z-index: 2500 !important;">
            Edit
        </MudButton>
    </div>
}

@code
{

    public bool HasEditPermissions
    {
        get
        {
            if (!Auth.PermissionsCache.TryGetValue("EditShow", out int _)) return false;
            return UserProvider.CurrentUser?.HasPermission(Auth.PermissionsCache["EditShow"]) ?? false;
        }
    }

    private bool HasViewPermissions
    {
        get
        {
            if (!Auth.PermissionsCache.TryGetValue("ViewShow", out int _)) return false;
            return UserProvider.CurrentUser?.HasPermission(Auth.PermissionsCache["ViewShow"]) ?? false;
        }
    }

    [CascadingParameter]
    public required UserProvider UserProvider { get; set; }

    private bool    _isEditMode;
    private Color   EditButtonColor => _isEditMode ? Color.Primary : Color.Default;

    protected override async Task OnInitializedAsync()
    {
        ShowService.OnStateChanged  += InvokeAsyncStateChanged;
        Auth.OnStateChanged         += InvokeAsyncStateChanged;
        UserProvider.OnStateChanged += HandleUserProviderStateChanged;

        await ShowService.StartAsync(Navigation.BaseUri);
        await FetchShowInfo();
        ShowService.UpdateState();
    }

    private void HandleUserProviderStateChanged()
    {
        _ = InvokeAsync(FetchShowInfo);
    }

    private void InvokeAsyncStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task FetchShowInfo()
    {
        if (Auth.ApiKey is { } key)
        {
            (await ShowService.GetShowsAndRoles(key)).IfError(e => Dialogs.ShowError("Error loading show", e));
            (await ShowService.GetLiveInfoAsync(key)).IfError(e => Dialogs.ShowError("Error loading show", e));

            StateHasChanged();
        }
    }

    private void ToggleEditMode()
    {
        _isEditMode             = !_isEditMode;
        StateHasChanged();
    }


    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        ShowService.OnStateChanged  -= InvokeAsyncStateChanged;
        Auth.OnStateChanged         -= InvokeAsyncStateChanged;
        UserProvider.OnStateChanged -= HandleUserProviderStateChanged;
        await ShowService.DisposeAsync();
    }
}
