@page "/show"
@using CueCompanion.Components.Show
<PageTitle>Show - Cue Companion</PageTitle>

@inject ShowService ShowService
@inject AuthService Auth
@inject SimpleDialogService Dialogs

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <CascadingValue Value="ShowService">
        <CascadingValue Name="IsEditMode" Value="isEditMode">
            <MudOverlay @bind-Visible="isEditMode" AutoClose="false"
                        Style="z-index: 2000 !important; pointer-events: none;">
                <div class="edit-mode-overlay">
                    <div class="edit-mode-label">
                        EDIT MODE ACTIVE
                    </div>
                </div>
            </MudOverlay>
            <div class="show-columns">
                <div class="show-column">
                    <CueExplorer/>
                </div>
                <div class="show-column">
                    <CurrentCue/>
                </div>
                <div class="show-column">
                    <CueNotes/>
                    <ShowInfo/>
                </div>
            </div>
        </CascadingValue>
    </CascadingValue>
</MudContainer>
@if (HasEditPermissions)
{
    <MudButton OnClick="@ToggleEditMode"
               Class="edit-mode-button"
               Variant="Variant.Filled"
               Color="@editButtonColor"
               StartIcon="@Icons.Material.Filled.Edit"
               Size="Size.Small"
               Style="z-index: 2500 !important;">
        Edit
    </MudButton>
}

@code
{

    public bool HasEditPermissions
    {
        get
        {
            if (!Auth.PermissionsCache.TryGetValue("EditShow", out int _)) return false;
            return UserProvider.CurrentUser?.HasPermission(Auth.PermissionsCache["EditShow"]) ?? false;
        }
    }

    [CascadingParameter]
    public required UserProvider UserProvider { get; set; }

    private bool isEditMode;
    private Color editButtonColor => isEditMode ? Color.Primary : Color.Default;

    protected override async Task OnInitializedAsync()
    {
        ShowService.OnStateChanged += () => InvokeAsync(StateHasChanged);
        Auth.OnStateChanged += () => InvokeAsync(StateHasChanged);
        UserProvider.OnStateChanged += () => InvokeAsync(FetchShowInfo);

        await ShowService.StartAsync(Navigation.BaseUri);
        await FetchShowInfo();
        ShowService.UpdateState();
    }

    private async Task FetchShowInfo()
    {
        if (Auth.SessionKey is { } key)
        {
            Result<CueCompanion.Show?> result = await ShowService.GetCurrentShowAsync(key);
            if (result is { IsSuccess: false, Error: { } e } && e != "Access denied.")
            {
                await Dialogs.ShowError("Failed to load show information", e);
                return;
            }

            if (result is { IsSuccess: true, Value: { } show })
            {
                (await ShowService.GetCuesForShowAsync(key, show.Id)).IfError(e => Dialogs.ShowError("Failed to load cues", e));
            }
            StateHasChanged();
        }
    }

    private void ToggleEditMode()
    {
        isEditMode = !isEditMode;
        ShowService.CurrentMode = isEditMode ? Mode.Edit : Mode.Live;
        StateHasChanged();
    }
}
