<div class="d-flex flex-grow-1 flex-wrap justify-center align-center px-8 pb-8 pt-2">
    <MudCheckBox Label="All" T="bool" Dense="true"/>
    <MudCheckBox Label="Sound" T="bool" Dense="true"/>
    <MudCheckBox Label="Graphics" T="bool" Dense="true"/>
    <MudCheckBox Label="Lights" T="bool" Dense="true"/>
    <MudCheckBox Label="Camera" T="bool" Dense="true"/>
    <MudCheckBox Label="Stage" T="bool" Dense="true"/>
</div>