@if (IsEditMode)
{
    <div style="display: flex; align-items: center; gap: 4px;">
        <MudText Typo="Typo.subtitle1" style="margin: 0;">@Label</MudText>
        <MudTextField @bind-Value="@Value" style="flex: 1;" Class="no-padding-input" @onblur="OnBlur"
                      AdornmentIcon="@Icons.Material.Filled.Edit" Adornment="Adornment.End"
        ></MudTextField>
    </div>
}
else
{
    <MudText Typo="Typo.subtitle1">@Label @Value</MudText>
}

@code
{
    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public EventCallback<string> OnValueChanged { get; set; }

    [Parameter]
    public bool IsEditMode { get; set; }

    private async Task OnBlur(FocusEventArgs e)
    {
        await ValueChanged.InvokeAsync(Value);
        await OnValueChanged.InvokeAsync(Value);
    }
}
