@media (min-width: 1000px) {
    .grid-container
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 16px;
    }
}

@media (max-width: 999px) {
    .grid-container
    {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

