@implements IAsyncDisposable
@inject ShowService ShowService
@if (ShowService.IsLiveMode)
{
    <div
        style="background-color: var(--mud-palette-primary); padding: 4px; border-radius: 4px; width: fit-content; margin: auto;"
        onclick="window.location.href = '/show'">

        <div>
            <MudText Typo="Typo.h2" Style="color: white">
                LIVE MODE ACTIVE - @ShowService.LiveModeShow!.Name
            </MudText>
        </div>
    </div>
}

@code
{

    protected override Task OnInitializedAsync()
    {
        try
        {
            ShowService.OnStateChanged += ShowStateChanged;
            return Task.CompletedTask;
        }
        catch (Exception exception)
        {
            return Task.FromException(exception);
        }
    }

    ValueTask IAsyncDisposable.DisposeAsync()
    {
        try
        {
            ShowService.OnStateChanged -= ShowStateChanged;
            return ValueTask.CompletedTask;
        }
        catch (Exception exception)
        {
            return ValueTask.FromException(exception);
        }
    }

    private void ShowStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }
}
