@implements IAsyncDisposable
@inject ShowService ShowService
@if (ShowService.CurrentCuePosition != null)
{
    <div
        style="background-color: var(--mud-palette-primary); padding: 4px; border-radius: 4px; width: fit-content; margin: auto;"
        onclick="window.location.href = '/show'">

        <div>
            <MudText Typo="Typo.h2" Style="color: white">
                LIVE MODE ACTIVE - @ShowService.CurrentShow.Name
            </MudText>
        </div>
    </div>
}

@code
{

    protected override async Task OnInitializedAsync()
    {
        ShowService.OnStateChanged += ShowStateChanged;
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        ShowService.OnStateChanged -= ShowStateChanged;
    }

    private void ShowStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }
}
