@using System.ComponentModel.DataAnnotations
@using MudBlazor
@inject IDialogService DialogService
@inject AuthService Auth
@implements IAsyncDisposable

<MudPaper MinWidth="30%" MaxWidth="50%">
    <MudText Typo="Typo.h2">Login</MudText>
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
        <MudTextField Label="Username" Class="mt-3" @bind-Value="model.UserName"
                      For="@(() => model.UserName)" InputType="InputType.Text"/>
        <MudTextField Label="Password" Class="mt-3" @bind-Value="model.Password" For="@(() => model.Password)"
                      InputType="InputType.Password"/>

        <div>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                       Class="ml-auto mt-2" Disabled="isLoading">
                Login
                @if (isLoading)
                {
                    <MudProgressCircular Class="ms-1" Color="Color.Default" Indeterminate="true" Size="Size.Small"/>
                }
            </MudButton>
            <MudButton OnClick="OnLogout" Variant="Variant.Outlined" Color="Color.Primary"
                       Class="ml-auto mt-2">
                Log out
            </MudButton>
        </div>
    </EditForm>

</MudPaper>
<MudDialogProvider/>

@code {
    [CascadingParameter] public UserProvider? UserProvider { get; set; }
    readonly LoginForm model = new();
    bool isLoading;

    public class LoginForm
    {
        [Required] public string UserName { get; set; } = string.Empty;

        [Required] public string Password { get; set; } = string.Empty;
    }

    private Action? _stateChangeHandler;

    protected override void OnInitialized()
    {
        _stateChangeHandler = () => InvokeAsync(StateHasChanged);
        Auth.OnStateChanged += _stateChangeHandler;
        isLoading = false;
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_stateChangeHandler != null)
            Auth.OnStateChanged -= _stateChangeHandler;
    }


    private async Task OnLogout()
    {
        if (UserProvider != null)
        {
            await UserProvider.Logout();
        }
        else throw new ArgumentNullException(nameof(UserProvider), "UserProvider is null, cannot log out");
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (Auth.User != null) // Already logged in
        {
            DialogOptions options = new() { CloseOnEscapeKey = true };
            DialogParameters<ErrorDialog> parameters = new()
            {
                { x => x.Title, "Login failed" },
                { x => x.Text, "Already logged in" }
            };
            await DialogService.ShowAsync<ErrorDialog>("Login failed", parameters, options);
            return;
        }

        isLoading = true;
        UserConnectionResult result = await UserProvider!.Connect(model.UserName, model.Password);
        if (result.ErrorMessage is { } error)
        {
            DialogOptions options = new() { CloseOnEscapeKey = true };
            DialogParameters<ErrorDialog> parameters = new()
            {
                { x => x.Title, "Login failed" },
                { x => x.Text, error }
            };
            await DialogService.ShowAsync<ErrorDialog>("Login failed", parameters, options);
        }
        else
        {
            model.UserName = string.Empty;
            model.Password = string.Empty;
            string key = result.SessionKey ?? throw new InvalidOperationException("Session key is null");
            if (UserProvider != null)
            {
                await UserProvider.SetSessionKey(key);
            }
            else throw new ArgumentNullException(nameof(UserProvider), "UserProvider is null, cannot set session key");
        }

        isLoading = false;
    }

}