@inject SimpleDialogService Dialogs
@inject AuthService Auth
@inject UserManagementService UserManagement
@using System.ComponentModel.DataAnnotations
@implements IAsyncDisposable

<Panel>
    @if(Auth.User is not {} user)
    {
    <MudText Typo="Typo.h2">Login</MudText>
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
        <MudTextField Label="Username" Class="mt-3" @bind-Value="model.UserName"
                      For="@(() => model.UserName)" InputType="InputType.Text"/>
        <MudTextField Label="Password" Class="mt-3" @bind-Value="model.Password" For="@(() => model.Password)"
                      InputType="InputType.Password"/>

        <div>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                       Class="ml-auto mt-2" Disabled="isLoading">
                Login
                @if (isLoading)
                {
                    <MudProgressCircular Class="ms-1" Color="Color.Default" Indeterminate="true" Size="Size.Small"/>
                }
            </MudButton>
            
        </div>
    </EditForm>
    }
    else
    {
        <MudText Typo="Typo.h3">You are logged in as <strong>@user.UserName</strong></MudText>
        <MudButton OnClick="OnLogout" Variant="Variant.Outlined" Color="Color.Primary"
                   Class="ml-auto mt-2">
            Log out
        </MudButton>
    }

</Panel>

@code {

    [CascadingParameter]
    public required UserProvider UserProvider { get; set; }
    readonly LoginForm model = new();
    bool isLoading;

    public class LoginForm
    {
        [Required] public string UserName { get; set; } = string.Empty;

        [Required] public string Password { get; set; } = string.Empty;
    }

    private Action? _stateChangeHandler;

    protected override void OnInitialized()
    {
        _stateChangeHandler = () => InvokeAsync(StateHasChanged);
        Auth.OnStateChanged += _stateChangeHandler;
        isLoading = false;
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_stateChangeHandler != null)
            Auth.OnStateChanged -= _stateChangeHandler;
    }


    private async Task OnLogout()
    {
        await UserProvider.Logout();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (Auth.User != null) // Already logged in
        {
            await Dialogs.ShowError("Login failed", "Already logged in");
            return;
        }

        isLoading = true;
        Result<(User user, string sessionKey)> result = await UserProvider.Connect(model.UserName, model.Password);
        if (result.Error is { } error)
        {
            await Dialogs.ShowError("Login failed", error);
            isLoading = false;
            return;
        }

        model.UserName = string.Empty;
        model.Password = string.Empty;
        string key = result.Value.sessionKey;

        await UserProvider.SetSessionKey(key);

        UserManagement.UpdateState();

        isLoading = false;
    }

}