@using System.ComponentModel.DataAnnotations
@using BitzArt.Blazor.Cookies
@using MudBlazor
@inject IDialogService DialogService
@inject ICookieService CookieService
@inject AuthService Auth
<MudPaper MinWidth="30%" MaxWidth="50%">
    <MudText Typo="Typo.h2">Login</MudText>
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
        <MudTextField Label="Connection" Class="mt-3" @bind-Value="model.ConnectionName"
                      For="@(() => model.ConnectionName)" InputType="InputType.Text"/>
        <MudTextField Label="Password" Class="mt-3" @bind-Value="model.Password" For="@(() => model.Password)"
                      InputType="InputType.Password"/>

        <div>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                       Class="ml-auto mt-2" Disabled="isLoading">
                Login
                @if (isLoading)
                {
                    <MudProgressCircular Class="ms-1" Color="Color.Default" Indeterminate="true" Size="Size.Small"/>
                }
            </MudButton>
        </div>
    </EditForm>

</MudPaper>
<MudDialogProvider/>

@code {
    readonly LoginForm model = new();
    bool isLoading;

    public class LoginForm
    {
        [Required] public string ConnectionName { get; set; } = string.Empty;

        [Required] public string Password { get; set; } = string.Empty;
    }

    protected override void OnInitialized()
    {
        Auth.OnStateChanged += () => InvokeAsync(StateHasChanged);
        isLoading = false;
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (Auth.Connection != null)
        {
            DialogOptions options = new() { CloseOnEscapeKey = true };
            DialogParameters<ErrorDialog> parameters = new()
            {
                { x => x.Title, "Login failed" },
                { x => x.Text, "Already logged in" }
            };
            await DialogService.ShowAsync<ErrorDialog>("Login failed", parameters, options);
            return;
        }

        isLoading = true;
        ConnectionResult result = await Auth.ConnectAsync(model.ConnectionName, model.Password);
        if (result.ErrorMessage is { } error)
        {
            DialogOptions options = new() { CloseOnEscapeKey = true };
            DialogParameters<ErrorDialog> parameters = new()
            {
                { x => x.Title, "Login failed" },
                { x => x.Text, error }
            };
            await DialogService.ShowAsync<ErrorDialog>("Login failed", parameters, options);
        }
        else
        {
            model.ConnectionName = string.Empty;
            model.Password = string.Empty;
            string key = result.SessionKey ?? throw new InvalidOperationException("Session key is null");
            await CookieService.SetAsync("sessionKey", key, DateTimeOffset.UtcNow.AddDays(1));
        }

        isLoading = false;
    }

}