@page "/"

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h1">Dashboard</MudText>
    <div class="d-flex flex-row justify-content-sm-around align-items-lg-start">
        <Login/>
        <UserManager/>
    </div>
</MudContainer>